Web References/jp.genome.soap/KEGG_v6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="SOAP/KEGG" xmlns="http://schemas.xmlsoap.org/wsdl/" name="KEGG_v6.2" targetNamespace="SOAP/KEGG" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SOAP/KEGG">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ArrayOfint">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:int[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfstring">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SSDBRelation">
        <xsd:all>
          <xsd:element name="genes_id1" type="xsd:string" />
          <xsd:element name="genes_id2" type="xsd:string" />
          <xsd:element name="sw_score" type="xsd:int" />
          <xsd:element name="bit_score" type="xsd:float" />
          <xsd:element name="identity" type="xsd:float" />
          <xsd:element name="overlap" type="xsd:int" />
          <xsd:element name="start_position1" type="xsd:int" />
          <xsd:element name="end_position1" type="xsd:int" />
          <xsd:element name="start_position2" type="xsd:int" />
          <xsd:element name="end_position2" type="xsd:int" />
          <xsd:element name="best_flag_1to2" type="xsd:boolean" />
          <xsd:element name="best_flag_2to1" type="xsd:boolean" />
          <xsd:element name="definition1" type="xsd:string" />
          <xsd:element name="definition2" type="xsd:string" />
          <xsd:element name="length1" type="xsd:int" />
          <xsd:element name="length2" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSSDBRelation">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:SSDBRelation[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MotifResult">
        <xsd:all>
          <xsd:element name="motif_id" type="xsd:string" />
          <xsd:element name="definition" type="xsd:string" />
          <xsd:element name="genes_id" type="xsd:string" />
          <xsd:element name="start_position" type="xsd:int" />
          <xsd:element name="end_position" type="xsd:int" />
          <xsd:element name="score" type="xsd:float" />
          <xsd:element name="evalue" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMotifResult">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:MotifResult[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Definition">
        <xsd:all>
          <xsd:element name="entry_id" type="xsd:string" />
          <xsd:element name="definition" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDefinition">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:Definition[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkDBRelation">
        <xsd:all>
          <xsd:element name="entry_id1" type="xsd:string" />
          <xsd:element name="entry_id2" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="path" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLinkDBRelation">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:LinkDBRelation[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PathwayElement">
        <xsd:all>
          <xsd:element name="element_id" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="names" type="typens:ArrayOfstring" />
          <xsd:element name="components" type="typens:ArrayOfint" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPathwayElement">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:PathwayElement[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PathwayElementRelation">
        <xsd:all>
          <xsd:element name="element_id1" type="xsd:int" />
          <xsd:element name="element_id2" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="subtypes" type="typens:ArrayOfSubtype" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPathwayElementRelation">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:PathwayElementRelation[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Subtype">
        <xsd:all>
          <xsd:element name="relation" type="xsd:string" />
          <xsd:element name="element_id" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSubtype">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:Subtype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="StructureAlignment">
        <xsd:all>
          <xsd:element name="target_id" type="xsd:string" />
          <xsd:element name="score" type="xsd:float" />
          <xsd:element name="query_nodes" type="typens:ArrayOfint" />
          <xsd:element name="target_nodes" type="typens:ArrayOfint" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfStructureAlignment">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:StructureAlignment[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="list_databasesRequest" />
  <wsdl:message name="list_databasesResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="list_organismsRequest" />
  <wsdl:message name="list_organismsResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="list_pathwaysRequest">
    <wsdl:part name="org" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="list_pathwaysResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="list_ko_classesRequest">
    <wsdl:part name="class_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="list_ko_classesResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="binfoRequest">
    <wsdl:part name="db" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="binfoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bgetRequest">
    <wsdl:part name="string" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bgetResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bfindRequest">
    <wsdl:part name="string" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bfindResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="btitRequest">
    <wsdl:part name="string" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="btitResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bconvRequest">
    <wsdl:part name="string" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bconvResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_linkdb_by_entryRequest">
    <wsdl:part name="entry_id" type="xsd:string" />
    <wsdl:part name="db" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_linkdb_by_entryResponse">
    <wsdl:part name="return" type="typens:ArrayOfLinkDBRelation" />
  </wsdl:message>
  <wsdl:message name="get_best_neighbors_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_best_neighbors_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfSSDBRelation" />
  </wsdl:message>
  <wsdl:message name="get_best_best_neighbors_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_best_best_neighbors_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfSSDBRelation" />
  </wsdl:message>
  <wsdl:message name="get_reverse_best_neighbors_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_reverse_best_neighbors_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfSSDBRelation" />
  </wsdl:message>
  <wsdl:message name="get_paralogs_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_paralogs_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfSSDBRelation" />
  </wsdl:message>
  <wsdl:message name="get_motifs_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
    <wsdl:part name="db" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_motifs_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfMotifResult" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_motifsRequest">
    <wsdl:part name="motif_id_list" type="typens:ArrayOfstring" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_motifsResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="get_ko_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_ko_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_ko_by_ko_classRequest">
    <wsdl:part name="class_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_ko_by_ko_classResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_koRequest">
    <wsdl:part name="ko_id" type="xsd:string" />
    <wsdl:part name="org" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_koResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_ko_classRequest">
    <wsdl:part name="class_id" type="xsd:string" />
    <wsdl:part name="org" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_ko_classResponse">
    <wsdl:part name="return" type="typens:ArrayOfDefinition" />
  </wsdl:message>
  <wsdl:message name="get_elements_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_elements_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfPathwayElement" />
  </wsdl:message>
  <wsdl:message name="get_element_relations_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_element_relations_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfPathwayElementRelation" />
  </wsdl:message>
  <wsdl:message name="color_pathway_by_elementsRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
    <wsdl:part name="element_list" type="typens:ArrayOfint" />
    <wsdl:part name="fg_color_list" type="typens:ArrayOfstring" />
    <wsdl:part name="bg_color_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="color_pathway_by_elementsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_html_of_colored_pathway_by_elementsRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
    <wsdl:part name="element_list" type="typens:ArrayOfint" />
    <wsdl:part name="fg_color_list" type="typens:ArrayOfstring" />
    <wsdl:part name="bg_color_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_html_of_colored_pathway_by_elementsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="mark_pathway_by_objectsRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
    <wsdl:part name="object_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="mark_pathway_by_objectsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="color_pathway_by_objectsRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
    <wsdl:part name="object_id_list" type="typens:ArrayOfstring" />
    <wsdl:part name="fg_color_list" type="typens:ArrayOfstring" />
    <wsdl:part name="bg_color_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="color_pathway_by_objectsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_html_of_marked_pathway_by_objectsRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
    <wsdl:part name="object_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_html_of_marked_pathway_by_objectsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_html_of_colored_pathway_by_objectsRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
    <wsdl:part name="object_id_list" type="typens:ArrayOfstring" />
    <wsdl:part name="fg_color_list" type="typens:ArrayOfstring" />
    <wsdl:part name="bg_color_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_html_of_colored_pathway_by_objectsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_genesRequest">
    <wsdl:part name="genes_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_genesResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_enzymesRequest">
    <wsdl:part name="enzyme_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_enzymesResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_reactionsRequest">
    <wsdl:part name="reaction_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_reactionsResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_linked_pathwaysRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_linked_pathwaysResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_enzymeRequest">
    <wsdl:part name="enzyme_id" type="xsd:string" />
    <wsdl:part name="org" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_enzymeResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_geneRequest">
    <wsdl:part name="genes_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_geneResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_reactionRequest">
    <wsdl:part name="reaction_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_reactionResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_enzymeRequest">
    <wsdl:part name="enzyme_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_enzymeResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_organismRequest">
    <wsdl:part name="org" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_genes_by_organismResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_number_of_genes_by_organismRequest">
    <wsdl:part name="abbr" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_number_of_genes_by_organismResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_glycanRequest">
    <wsdl:part name="glycan_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_glycanResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_compoundRequest">
    <wsdl:part name="compound_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_reactions_by_compoundResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_glycanRequest">
    <wsdl:part name="glycan_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_glycanResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_compoundRequest">
    <wsdl:part name="compound_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_enzymes_by_compoundResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_compoundsRequest">
    <wsdl:part name="compound_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_compoundsResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_glycansRequest">
    <wsdl:part name="glycan_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_glycansResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_compounds_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_compounds_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_compounds_by_enzymeRequest">
    <wsdl:part name="enzyme_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_compounds_by_enzymeResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_glycans_by_enzymeRequest">
    <wsdl:part name="enzyme_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_glycans_by_enzymeResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_glycans_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_glycans_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_compounds_by_reactionRequest">
    <wsdl:part name="reaction_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_compounds_by_reactionResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_glycans_by_reactionRequest">
    <wsdl:part name="reaction_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_glycans_by_reactionResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="convert_mol_to_kcfRequest">
    <wsdl:part name="mol_text" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="convert_mol_to_kcfResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_kos_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_kos_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_kosRequest">
    <wsdl:part name="ko_id_list" type="typens:ArrayOfstring" />
    <wsdl:part name="org" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_kosResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_nameRequest">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_nameResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_nameRequest">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_nameResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_compositionRequest">
    <wsdl:part name="composition" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_compositionResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_massRequest">
    <wsdl:part name="mass" type="xsd:float" />
    <wsdl:part name="range" type="xsd:float" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_massResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_massRequest">
    <wsdl:part name="mass" type="xsd:float" />
    <wsdl:part name="range" type="xsd:float" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_massResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_compositionRequest">
    <wsdl:part name="composition" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_compositionResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_subcompRequest">
    <wsdl:part name="mol" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="search_compounds_by_subcompResponse">
    <wsdl:part name="return" type="typens:ArrayOfStructureAlignment" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_kcamRequest">
    <wsdl:part name="kcf" type="xsd:string" />
    <wsdl:part name="program" type="xsd:string" />
    <wsdl:part name="option" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="search_glycans_by_kcamResponse">
    <wsdl:part name="return" type="typens:ArrayOfStructureAlignment" />
  </wsdl:message>
  <wsdl:message name="get_linkdb_between_databasesRequest">
    <wsdl:part name="from_db" type="xsd:string" />
    <wsdl:part name="to_db" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_linkdb_between_databasesResponse">
    <wsdl:part name="return" type="typens:ArrayOfLinkDBRelation" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_nameRequest">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_nameResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_compositionRequest">
    <wsdl:part name="composition" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_compositionResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_massRequest">
    <wsdl:part name="mass" type="xsd:float" />
    <wsdl:part name="range" type="xsd:float" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_massResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_subcompRequest">
    <wsdl:part name="mol" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="search_drugs_by_subcompResponse">
    <wsdl:part name="return" type="typens:ArrayOfStructureAlignment" />
  </wsdl:message>
  <wsdl:message name="get_references_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_references_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfint" />
  </wsdl:message>
  <wsdl:message name="get_drugs_by_pathwayRequest">
    <wsdl:part name="pathway_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_drugs_by_pathwayResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_drugsRequest">
    <wsdl:part name="drug_id_list" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:message name="get_pathways_by_drugsResponse">
    <wsdl:part name="return" type="typens:ArrayOfstring" />
  </wsdl:message>
  <wsdl:portType name="KEGGPortType">
    <wsdl:operation name="list_databases">
      <wsdl:input message="typens:list_databasesRequest" />
      <wsdl:output message="typens:list_databasesResponse" />
    </wsdl:operation>
    <wsdl:operation name="list_organisms">
      <wsdl:input message="typens:list_organismsRequest" />
      <wsdl:output message="typens:list_organismsResponse" />
    </wsdl:operation>
    <wsdl:operation name="list_pathways">
      <wsdl:input message="typens:list_pathwaysRequest" />
      <wsdl:output message="typens:list_pathwaysResponse" />
    </wsdl:operation>
    <wsdl:operation name="list_ko_classes">
      <wsdl:input message="typens:list_ko_classesRequest" />
      <wsdl:output message="typens:list_ko_classesResponse" />
    </wsdl:operation>
    <wsdl:operation name="binfo">
      <wsdl:input message="typens:binfoRequest" />
      <wsdl:output message="typens:binfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="bget">
      <wsdl:input message="typens:bgetRequest" />
      <wsdl:output message="typens:bgetResponse" />
    </wsdl:operation>
    <wsdl:operation name="bfind">
      <wsdl:input message="typens:bfindRequest" />
      <wsdl:output message="typens:bfindResponse" />
    </wsdl:operation>
    <wsdl:operation name="btit">
      <wsdl:input message="typens:btitRequest" />
      <wsdl:output message="typens:btitResponse" />
    </wsdl:operation>
    <wsdl:operation name="bconv">
      <wsdl:input message="typens:bconvRequest" />
      <wsdl:output message="typens:bconvResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_linkdb_by_entry">
      <wsdl:input message="typens:get_linkdb_by_entryRequest" />
      <wsdl:output message="typens:get_linkdb_by_entryResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_best_neighbors_by_gene">
      <wsdl:input message="typens:get_best_neighbors_by_geneRequest" />
      <wsdl:output message="typens:get_best_neighbors_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_best_best_neighbors_by_gene">
      <wsdl:input message="typens:get_best_best_neighbors_by_geneRequest" />
      <wsdl:output message="typens:get_best_best_neighbors_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_reverse_best_neighbors_by_gene">
      <wsdl:input message="typens:get_reverse_best_neighbors_by_geneRequest" />
      <wsdl:output message="typens:get_reverse_best_neighbors_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_paralogs_by_gene">
      <wsdl:input message="typens:get_paralogs_by_geneRequest" />
      <wsdl:output message="typens:get_paralogs_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_motifs_by_gene">
      <wsdl:input message="typens:get_motifs_by_geneRequest" />
      <wsdl:output message="typens:get_motifs_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_motifs">
      <wsdl:input message="typens:get_genes_by_motifsRequest" />
      <wsdl:output message="typens:get_genes_by_motifsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_ko_by_gene">
      <wsdl:input message="typens:get_ko_by_geneRequest" />
      <wsdl:output message="typens:get_ko_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_ko_by_ko_class">
      <wsdl:input message="typens:get_ko_by_ko_classRequest" />
      <wsdl:output message="typens:get_ko_by_ko_classResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_ko">
      <wsdl:input message="typens:get_genes_by_koRequest" />
      <wsdl:output message="typens:get_genes_by_koResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_ko_class">
      <wsdl:input message="typens:get_genes_by_ko_classRequest" />
      <wsdl:output message="typens:get_genes_by_ko_classResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_elements_by_pathway">
      <wsdl:input message="typens:get_elements_by_pathwayRequest" />
      <wsdl:output message="typens:get_elements_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_element_relations_by_pathway">
      <wsdl:input message="typens:get_element_relations_by_pathwayRequest" />
      <wsdl:output message="typens:get_element_relations_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="color_pathway_by_elements">
      <wsdl:input message="typens:color_pathway_by_elementsRequest" />
      <wsdl:output message="typens:color_pathway_by_elementsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_html_of_colored_pathway_by_elements">
      <wsdl:input message="typens:get_html_of_colored_pathway_by_elementsRequest" />
      <wsdl:output message="typens:get_html_of_colored_pathway_by_elementsResponse" />
    </wsdl:operation>
    <wsdl:operation name="mark_pathway_by_objects">
      <wsdl:input message="typens:mark_pathway_by_objectsRequest" />
      <wsdl:output message="typens:mark_pathway_by_objectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="color_pathway_by_objects">
      <wsdl:input message="typens:color_pathway_by_objectsRequest" />
      <wsdl:output message="typens:color_pathway_by_objectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_html_of_marked_pathway_by_objects">
      <wsdl:input message="typens:get_html_of_marked_pathway_by_objectsRequest" />
      <wsdl:output message="typens:get_html_of_marked_pathway_by_objectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_html_of_colored_pathway_by_objects">
      <wsdl:input message="typens:get_html_of_colored_pathway_by_objectsRequest" />
      <wsdl:output message="typens:get_html_of_colored_pathway_by_objectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_pathway">
      <wsdl:input message="typens:get_genes_by_pathwayRequest" />
      <wsdl:output message="typens:get_genes_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_pathway">
      <wsdl:input message="typens:get_enzymes_by_pathwayRequest" />
      <wsdl:output message="typens:get_enzymes_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_pathway">
      <wsdl:input message="typens:get_reactions_by_pathwayRequest" />
      <wsdl:output message="typens:get_reactions_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_genes">
      <wsdl:input message="typens:get_pathways_by_genesRequest" />
      <wsdl:output message="typens:get_pathways_by_genesResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_enzymes">
      <wsdl:input message="typens:get_pathways_by_enzymesRequest" />
      <wsdl:output message="typens:get_pathways_by_enzymesResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_reactions">
      <wsdl:input message="typens:get_pathways_by_reactionsRequest" />
      <wsdl:output message="typens:get_pathways_by_reactionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_linked_pathways">
      <wsdl:input message="typens:get_linked_pathwaysRequest" />
      <wsdl:output message="typens:get_linked_pathwaysResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_enzyme">
      <wsdl:input message="typens:get_genes_by_enzymeRequest" />
      <wsdl:output message="typens:get_genes_by_enzymeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_gene">
      <wsdl:input message="typens:get_enzymes_by_geneRequest" />
      <wsdl:output message="typens:get_enzymes_by_geneResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_reaction">
      <wsdl:input message="typens:get_enzymes_by_reactionRequest" />
      <wsdl:output message="typens:get_enzymes_by_reactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_enzyme">
      <wsdl:input message="typens:get_reactions_by_enzymeRequest" />
      <wsdl:output message="typens:get_reactions_by_enzymeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_organism">
      <wsdl:input message="typens:get_genes_by_organismRequest" />
      <wsdl:output message="typens:get_genes_by_organismResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_number_of_genes_by_organism">
      <wsdl:input message="typens:get_number_of_genes_by_organismRequest" />
      <wsdl:output message="typens:get_number_of_genes_by_organismResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_glycan">
      <wsdl:input message="typens:get_reactions_by_glycanRequest" />
      <wsdl:output message="typens:get_reactions_by_glycanResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_compound">
      <wsdl:input message="typens:get_reactions_by_compoundRequest" />
      <wsdl:output message="typens:get_reactions_by_compoundResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_glycan">
      <wsdl:input message="typens:get_enzymes_by_glycanRequest" />
      <wsdl:output message="typens:get_enzymes_by_glycanResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_compound">
      <wsdl:input message="typens:get_enzymes_by_compoundRequest" />
      <wsdl:output message="typens:get_enzymes_by_compoundResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_compounds">
      <wsdl:input message="typens:get_pathways_by_compoundsRequest" />
      <wsdl:output message="typens:get_pathways_by_compoundsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_glycans">
      <wsdl:input message="typens:get_pathways_by_glycansRequest" />
      <wsdl:output message="typens:get_pathways_by_glycansResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_compounds_by_pathway">
      <wsdl:input message="typens:get_compounds_by_pathwayRequest" />
      <wsdl:output message="typens:get_compounds_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_glycans_by_pathway">
      <wsdl:input message="typens:get_glycans_by_pathwayRequest" />
      <wsdl:output message="typens:get_glycans_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_compounds_by_reaction">
      <wsdl:input message="typens:get_compounds_by_reactionRequest" />
      <wsdl:output message="typens:get_compounds_by_reactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_glycans_by_reaction">
      <wsdl:input message="typens:get_glycans_by_reactionRequest" />
      <wsdl:output message="typens:get_glycans_by_reactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_compounds_by_enzyme">
      <wsdl:input message="typens:get_compounds_by_enzymeRequest" />
      <wsdl:output message="typens:get_compounds_by_enzymeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_glycans_by_enzyme">
      <wsdl:input message="typens:get_glycans_by_enzymeRequest" />
      <wsdl:output message="typens:get_glycans_by_enzymeResponse" />
    </wsdl:operation>
    <wsdl:operation name="convert_mol_to_kcf">
      <wsdl:input message="typens:convert_mol_to_kcfRequest" />
      <wsdl:output message="typens:convert_mol_to_kcfResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_kos_by_pathway">
      <wsdl:input message="typens:get_kos_by_pathwayRequest" />
      <wsdl:output message="typens:get_kos_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_kos">
      <wsdl:input message="typens:get_pathways_by_kosRequest" />
      <wsdl:output message="typens:get_pathways_by_kosResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_name">
      <wsdl:input message="typens:search_compounds_by_nameRequest" />
      <wsdl:output message="typens:search_compounds_by_nameResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_name">
      <wsdl:input message="typens:search_glycans_by_nameRequest" />
      <wsdl:output message="typens:search_glycans_by_nameResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_composition">
      <wsdl:input message="typens:search_compounds_by_compositionRequest" />
      <wsdl:output message="typens:search_compounds_by_compositionResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_mass">
      <wsdl:input message="typens:search_compounds_by_massRequest" />
      <wsdl:output message="typens:search_compounds_by_massResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_mass">
      <wsdl:input message="typens:search_glycans_by_massRequest" />
      <wsdl:output message="typens:search_glycans_by_massResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_composition">
      <wsdl:input message="typens:search_glycans_by_compositionRequest" />
      <wsdl:output message="typens:search_glycans_by_compositionResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_subcomp">
      <wsdl:input message="typens:search_compounds_by_subcompRequest" />
      <wsdl:output message="typens:search_compounds_by_subcompResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_kcam">
      <wsdl:input message="typens:search_glycans_by_kcamRequest" />
      <wsdl:output message="typens:search_glycans_by_kcamResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_linkdb_between_databases">
      <wsdl:input message="typens:get_linkdb_between_databasesRequest" />
      <wsdl:output message="typens:get_linkdb_between_databasesResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_name">
      <wsdl:input message="typens:search_drugs_by_nameRequest" />
      <wsdl:output message="typens:search_drugs_by_nameResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_composition">
      <wsdl:input message="typens:search_drugs_by_compositionRequest" />
      <wsdl:output message="typens:search_drugs_by_compositionResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_mass">
      <wsdl:input message="typens:search_drugs_by_massRequest" />
      <wsdl:output message="typens:search_drugs_by_massResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_subcomp">
      <wsdl:input message="typens:search_drugs_by_subcompRequest" />
      <wsdl:output message="typens:search_drugs_by_subcompResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_references_by_pathway">
      <wsdl:input message="typens:get_references_by_pathwayRequest" />
      <wsdl:output message="typens:get_references_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_drugs_by_pathway">
      <wsdl:input message="typens:get_drugs_by_pathwayRequest" />
      <wsdl:output message="typens:get_drugs_by_pathwayResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_drugs">
      <wsdl:input message="typens:get_pathways_by_drugsRequest" />
      <wsdl:output message="typens:get_pathways_by_drugsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KEGGBinding" type="typens:KEGGPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="list_databases">
      <soap:operation soapAction="SOAP/KEGG#list_databases" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_organisms">
      <soap:operation soapAction="SOAP/KEGG#list_organisms" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_pathways">
      <soap:operation soapAction="SOAP/KEGG#list_pathways" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_ko_classes">
      <soap:operation soapAction="SOAP/KEGG#list_ko_classes" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="binfo">
      <soap:operation soapAction="SOAP/KEGG#binfo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bget">
      <soap:operation soapAction="SOAP/KEGG#bget" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bfind">
      <soap:operation soapAction="SOAP/KEGG#bfind" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btit">
      <soap:operation soapAction="SOAP/KEGG#btit" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bconv">
      <soap:operation soapAction="SOAP/KEGG#bconv" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_linkdb_by_entry">
      <soap:operation soapAction="SOAP/KEGG#get_linkdb_by_entry" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_best_neighbors_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_best_neighbors_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_best_best_neighbors_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_best_best_neighbors_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_reverse_best_neighbors_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_reverse_best_neighbors_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_paralogs_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_paralogs_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_motifs_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_motifs_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_motifs">
      <soap:operation soapAction="SOAP/KEGG#get_genes_by_motifs" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ko_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_ko_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ko_by_ko_class">
      <soap:operation soapAction="SOAP/KEGG#get_ko_by_ko_class" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_ko">
      <soap:operation soapAction="SOAP/KEGG#get_genes_by_ko" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_ko_class">
      <soap:operation soapAction="SOAP/KEGG#get_genes_by_ko_class" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_elements_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_elements_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_element_relations_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_element_relations_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="color_pathway_by_elements">
      <soap:operation soapAction="SOAP/KEGG#color_pathway_by_elements" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_html_of_colored_pathway_by_elements">
      <soap:operation soapAction="SOAP/KEGG#get_html_of_colored_pathway_by_elements" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mark_pathway_by_objects">
      <soap:operation soapAction="SOAP/KEGG#mark_pathway_by_objects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="color_pathway_by_objects">
      <soap:operation soapAction="SOAP/KEGG#color_pathway_by_objects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_html_of_marked_pathway_by_objects">
      <soap:operation soapAction="SOAP/KEGG#get_html_of_marked_pathway_by_objects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_html_of_colored_pathway_by_objects">
      <soap:operation soapAction="SOAP/KEGG#get_html_of_colored_pathway_by_objects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_genes_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_enzymes_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_reactions_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_genes">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_genes" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_enzymes">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_enzymes" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_reactions">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_reactions" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_linked_pathways">
      <soap:operation soapAction="SOAP/KEGG#get_linked_pathways" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_enzyme">
      <soap:operation soapAction="SOAP/KEGG#get_genes_by_enzyme" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_gene">
      <soap:operation soapAction="SOAP/KEGG#get_enzymes_by_gene" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_reaction">
      <soap:operation soapAction="SOAP/KEGG#get_enzymes_by_reaction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_enzyme">
      <soap:operation soapAction="SOAP/KEGG#get_reactions_by_enzyme" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_genes_by_organism">
      <soap:operation soapAction="SOAP/KEGG#get_genes_by_organism" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_number_of_genes_by_organism">
      <soap:operation soapAction="SOAP/KEGG#get_number_of_genes_by_organism" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_glycan">
      <soap:operation soapAction="SOAP/KEGG#get_reactions_by_glycan" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_reactions_by_compound">
      <soap:operation soapAction="SOAP/KEGG#get_reactions_by_compound" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_glycan">
      <soap:operation soapAction="SOAP/KEGG#get_enzymes_by_glycan" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_enzymes_by_compound">
      <soap:operation soapAction="SOAP/KEGG#get_enzymes_by_compound" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_compounds">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_compounds" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_glycans">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_glycans" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_compounds_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_compounds_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_glycans_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_glycans_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_compounds_by_reaction">
      <soap:operation soapAction="SOAP/KEGG#get_compounds_by_reaction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_glycans_by_reaction">
      <soap:operation soapAction="SOAP/KEGG#get_glycans_by_reaction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_compounds_by_enzyme">
      <soap:operation soapAction="SOAP/KEGG#get_compounds_by_enzyme" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_glycans_by_enzyme">
      <soap:operation soapAction="SOAP/KEGG#get_glycans_by_enzyme" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convert_mol_to_kcf">
      <soap:operation soapAction="SOAP/KEGG#convert_mol_to_kcf" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_kos_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_kos_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_kos">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_kos" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_name">
      <soap:operation soapAction="SOAP/KEGG#search_compounds_by_name" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_name">
      <soap:operation soapAction="SOAP/KEGG#search_glycans_by_name" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_composition">
      <soap:operation soapAction="SOAP/KEGG#search_compounds_by_composition" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_mass">
      <soap:operation soapAction="SOAP/KEGG#search_compounds_by_mass" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_mass">
      <soap:operation soapAction="SOAP/KEGG#search_glycans_by_mass" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_composition">
      <soap:operation soapAction="SOAP/KEGG#search_glycans_by_composition" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_compounds_by_subcomp">
      <soap:operation soapAction="SOAP/KEGG#search_compounds_by_subcomp" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_glycans_by_kcam">
      <soap:operation soapAction="SOAP/KEGG#search_glycans_by_kcam" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_linkdb_between_databases">
      <soap:operation soapAction="SOAP/KEGG#get_linkdb_between_databases" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_name">
      <soap:operation soapAction="SOAP/KEGG#search_drugs_by_name" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_composition">
      <soap:operation soapAction="SOAP/KEGG#search_drugs_by_composition" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_mass">
      <soap:operation soapAction="SOAP/KEGG#search_drugs_by_mass" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_drugs_by_subcomp">
      <soap:operation soapAction="SOAP/KEGG#search_drugs_by_subcomp" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_references_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_references_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_drugs_by_pathway">
      <soap:operation soapAction="SOAP/KEGG#get_drugs_by_pathway" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_pathways_by_drugs">
      <soap:operation soapAction="SOAP/KEGG#get_pathways_by_drugs" />
      <wsdl:input>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="SOAP/KEGG" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KEGG">
    <wsdl:port name="KEGGPort" binding="typens:KEGGBinding">
      <soap:address location="http://soap.genome.jp/keggapi/request_v6.2.cgi" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>